
<div *ngIf="texto == ''">
  <div class="container">
  <h1>Entrada </h1>

  <p>
  <input class="" #entrada type="text" name="entrada" id="entrada" oninput="this.value = this.value.replace(/[^0-9\,]+/g, '');">
  </p>

  <button class="btn-Rotacionar"  (click)="rotacionar($event)" type="submit">Rotacionar</button>
  </div>
</div>



<div *ngIf="texto != ''">

    <div class="container">
    <button class="btn-Voltar" (click)="voltar($event)"  type="submit">Voltar</button>
    <h2>Saída</h2>
    <h3 *ngIf="texto.includes('Inválido')" >{{ texto }} </h3>

    <table class="table1">
      <tbody>
        <tr *ngFor="let elem of matriz">
          <td *ngFor="let kv of elem | keyvalue" >{{ kv.value }}</td>
        </tr>
      </tbody>
    </table>
    </div>

 </div>
